/* table  {
	background-color: #869960;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.btn{
    position: relative;
    margin-left: 150px;
background-color: #869960;
color: #fff;
border: rgb(67, 105, 10) 3px solid;
height: 45px;
width: 50;
}
table th  {
    background-color: #535c42;
padding: 8px;
width: 70%;
border-radius: 5px;
} */